/* NAVBAR */
body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #285ba7, #214a88);
    color: white;
    padding: 10px -10px 10px 10px;
    font-weight: bold;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 1rem;
    margin-left: 7rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.brand-title {
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    font-size: 1.2rem;
    position: relative;
    flex-grow: 1;
}

.navbar-links li a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
    padding: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s ease;
}

.navbar-links-button {
    margin: 10px;
    border-radius: 8px;
}

.navbar-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/* HOMEPAGE */

body {
    background-color: #E6F7FF;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.left-content {
    margin-top: 60px;
    margin-left: 50px;
}

.left-content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #003366;
}

.left-content p {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    color: #285ba7;
}

.small-logo {
    height: auto;
    margin-top: 20px;
}

.custom-btn {
    display: inline-block;
    background: linear-gradient(145deg, #497faf, #193d70);
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 8px;
    padding: 15px 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background: linear-gradient(145deg, #285ba7, #214a88);
    transform: translateY(-3px);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0)
}
